<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <%= render 'recipes/search', genre: @genres,category: @categories %>
        </div>
        <div class="col-xs-10">
            <%= render 'layouts/error', model:@user %>
            <tr><%= attachment_image_tag @user, :image, size: '100x100',format: "jpeg", fallback: "no_image.jpg" %></tr>
            <%= form_for @user ,url:user_path(@user.id) do |f| %>
            <%= f.label :image, "プロフィール画像を選択"%>
            <%= f.attachment_field :image, class: "image_form" %><br>
            <td>
                <%= f.label :nickname %>
                <%= f.text_field :nickname %>
            </td>
            <%= f.submit %>
            <% end %>
            <td><%= link_to "退会する",  users_confirm_path, class: "btn btn-danger" %></td>
        </div>
    </div>
</div>