<%= search_form_for @q do |f| %>
<%= f.label :name, "Keyword" %>
<%= f.search_field :name_cont %>

<%= f.submit "検索" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @user_pointrank.each do |f| %>
    <tr>
      <td><%= link_to f.name,user_path(f) %></td>
      <td><%= f.rank %></td>
    </tr>
    <tr>
      <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |f| %>
    <tr>
      <td><%= link_to f.name,user_path(f) %></td>
      <td><%= f.rank %></td>
    </tr>
    <tr>
      <% end %>
  </tbody>
</table>