    <tr><%= attachment_image_tag @user, :image, size: '100x100',format: "jpeg", fallback: "no_image.jpg" %></tr>

    <%= @user.name %>
    <%= @user.nickname %>
    <%= @user.sex %>


    <%= link_to 'フォロー一覧',relationships_path %>

    <% unless current_user == @user %>
  <% if current_user.following?(@user) %>
    <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
    <% end %>
  <% end %>
<% end %>
      <td>
      follow<%= link_to @user.followings.count,followers_path %>
        </td>
      </tr>
    <tr>
      <td>
      follower<%= link_to @user.followers.count,followers_path %>
    </td>
  </tr>
  <%= link_to "編集する",edit_user_path(@user.id) %>
  <p><%= @user.nickname %>が投稿したメニュー</p>
  <% @recipes.each do |f| %>
  <%= link_to f.name ,recipe_path(f.id) %>
  <% end %>
