<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'recipes/search', genre: @genres,category: @categories %>
    </div>
    <div class="col-xs-5">
      <th>
        <%= attachment_image_tag @user, :image, size: '100x100',format: "jpeg", fallback: "no_image.jpg" %>
      </th></br>
      <th>
        名前
      </th>
      <td>
        <%= @user.name %>
      </td><br>
      <th>
        ニックネーム
      </th>
      <td>
        <%= @user.nickname %><br>
      </td>
      <% if @user.user_rank_update(@user) %>
      <%= @user.rank  %><br>
      <% if @user ==current_user %>
      <% case @user.rank %>
      <% when 'レギュラー会員' %>
      <%= "シルバー会員まで" %><%= 100 - @user.point  %> pt<br>
      <% when 'シルバー会員' %>
      <%= "ゴールド会員まで" %><%= 299 - @user.point  %> pt<br>
      <% when 'ゴールド会員' %>
      <%= "プラチナ会員まで"%><%= 999 - @user.point  %>pt<br>
      <% when 'プラチナ会員' %>
      <%= "ダイヤモンド会員まで"%><%= 2999 - @user.point  %>pt<br>
      <% end %>
      <% end %>
      <% end %>
      <% unless current_user == @user %>
      <% if current_user.following?(@user) %>
      <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %><br>
      <% end %>
      <% else %>
      <%= form_for(current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %><br>
      <% end %>
      <% end %>
      <% end %>
      <td>
        follow<%= link_to @user.followings.count,user_followindex_path(@user) %>人
      </td><br>
      <tr>
        <td>
          follower<%= link_to @user.followers.count,user_followerindex_path(@user) %>人
        </td><br>
      </tr>
      <% if @user ==current_user %>
      <%= link_to "プロフィールを編集する",edit_user_path(@user.id) %><br>
      <% end %>
      <% unless @user.id == current_user.id %>
      <% if @isRoom == true %>
      <p class="btn btn-light"><a href="/rooms/<%= @roomId %>">チャットへ移動</a>
        <% else %>
        <%# 親モデルにform_forインスタンス変数、子モデルにfields_forインスタンス変数 %>
        <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit "DMを送る" %>
        <% end %>
        <% end %>
        <% end %>
    </div>
    <div class="col-xs-5">
      <p><%= @user.nickname %>が投稿したメニュー</p>
      <div style="display:table; width:100%;">
        <table class="table-hover">
          <thead>
            <tr>
              <th>レシピ名</th>
              <th>画像</th>
              <th>材料</th>
            </tr>
          </thead>
          <tbody>
            <% @recipes.each do |recipe| %>
            <tr>
              <td>
                <%= link_to recipe.name,recipe_path(recipe) %>
              </td>
              <td>
                <%= image_tag recipe.recipe_images[0].recipe_image.to_s, class:"recipe_user_showimage" %></td>
              <td style="display:table-cell; width:200px" ;>
                <% recipe.materials.each do |material| %>
                <%= material.name %>
                <%= material.quantity %><br>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @recipes %>
    </div>
  </div>
</div>