<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'recipes/search', genre: @genres,category: @categories %>
      <tr><%= attachment_image_tag @user, :image, size: '100x100',format: "jpeg", fallback: "no_image.jpg" %></tr>
    </div>
    <div class="col-xs-5">
      <th>名前</th>
      <td><%= @user.name %></td><br>
      <th>ニックネーム</th>
      <td><%= @user.nickname %></td><br>
      <th>性別</th>
      <td><%= @user.sex %></td><br>
      <% if @user.user_rank_update(@user) %>
      <%= @user.rank  %>
      <% end %>
      <% unless current_user == @user %>
      <% if current_user.following?(@user) %>
      <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f|
            %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %><br>
      <% end %>
      <% else %>
      <%= form_for(current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %><br>
      <% end %>
      <% end %>
      <% end %>
      <td>
        follow<%= link_to @user.followings.count,user_followindex_path(@user) %>
      </td><br>
      </tr>
      <tr>
        <td>
          follower<%= link_to @user.followers.count,user_followerindex_path(@user) %>
        </td><br>
      </tr>
      <%= link_to "パスワードを変更する", edit_user_password_path(current_user) %><br>
      <% if @user ==current_user %>
      <%= link_to "プロフィールを編集する",edit_user_path(@user.id) %><br>
      <% end %>
    </div>
    <div class="col-xs-5">
      <p><%= @user.nickname %>が投稿したメニュー</p>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>レシピ名</th>
            <th>画像</th>
            <th>投稿日時</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <td class="recipe_td"><%= link_to recipe.name,recipe_path(recipe) %></td>
            <td class="recipe_td">
              <%= image_tag recipe.recipe_images[0].recipe_image.to_s, class:"recipe_user_showimage" %></td>
            <td class="recipe_td"><%= recipe.created_at.to_s(:datetime_jp) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>