<div class="row">
    <div class="col-xs-10">
        <%= render 'layouts/error', model:@recipe %>
        <div class="sell__block__form">
            <%= form_for (@recipe) do |f| %>
            <p>最大5枚までアップロードできます</p>
            <div class="label-content">
                <div class="hidden-content">
                    <%= f.fields_for :recipe_images do |i| %>
                    <%= i.file_field :recipe_image, class: "hidden-field" %><br>
                    <input class="hidden-field" type="file" name="recipe[recipe_images_attributes][1][recipe_image]"
                        id="recipe_images_attributes_1_image"><br>
                    <input class="hidden-field" type="file" name="recipe[recipe_images_attributes][2][recipe_image]"
                        id="recipe_images_attributes_2_image"><br>
                    <input class="hidden-field" type="file" name="recipe[recipe_images_attributes][3][recipe_image]"
                        id="recipe_images_attributes_3_image">
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="field row">
            <%= f.label :レシピ名 %>
            <%= f.text_field :name,:placeholder => "チャーハン" %>
        </div>
        <table class="table-type-b" , id="detail-association-insertion-point">
            <%= f.fields_for :materials do | material | %>
            <%= render 'material_fields', f: material %>
            <% end %>
        </table>
        <div class="tit-group">
            <p class="tit-group_btn">
                <%= link_to_add_association '記入欄を追加', f, :materials,
              class: 'btn-type-b',
              data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'append'
              }
            %>
            </p>
        </div><!-- /tit-group -->
        <div class="field row">
            <%= f.label :human %>
            <%= f.select :human ,Recipe.humen.keys.to_a, {}%>
        </div>
        ジャンルを選択<%= f.collection_select :genre_id, @genres, :id, :name %><br>
        カテゴリーを選択<%= f.collection_select :category_id, @categories, :id, :name %>
        <div class="field content">
            <%= f.label :content %>
            <%= f.text_area :content,:placeholder => "作り方", :size=>"60x10"%>
        </div>
        <div class="actions row">
            <%= f.submit class: "btn btn-primary col-xs-12" %>
        </div>
        <% end %>
    </div>
</div>