<div class="container">
  <h1>レシピ 編集画面</h1>
  <div class="row">
    <div class="col-xs-5 ">
      <%= form_for @recipe,url:recipe_path(@recipe.id) do |f| %>
      <label>
        <span class="btn btn-primary">画像
          <input type="file" style="display:none">
        </span>
        <%= f.attachment_field :image, class: "image_form" %>
      </label>
      <% if@recipe.errors.any? %>
      <%= @recipe.errors.count %>件のerrorが発生しました
      <% @recipe.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <% end %>
    </div>
    <div class="col-xs-5">
      <table class="table table-borderless">
        <tr>
          <th>商品名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>商品説明文</th>
          <td><%= f.text_area :content %></td>
        </tr>
        <tr>
          <th><%= f.label :material %></th>
          <td><%= f.text_area :material%></td>
        </tr>
        <tr>
          <th>人数</th>
          <td><%= f.select :human ,Recipe.humen.keys.to_a, {}%></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= f.collection_select :genre_id, @genres, :id, :name %></td>
        </tr>
        <th>カテゴリー</th>
        <td><%= f.collection_select :category_id, @categories, :id, :name %></td>
        </tr>
        <tr>
          <td>
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-lg pull-right">変更を保存</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="colxs-2">

      <% end %>
    </div>
  </div>
</div>