<div class="main-top">
  <div class="main-visual">
    <div class="main-visual-content">
      <p class="main-visual-name">RePiPi</p>
    </div>
  </div>
  <div id="repipi">
    <div class="repipi-content">
      <div class="recipe-content-name">RePiPiとは？</div>
    </div>
    <div class="logo-image-1">
      <%= image_tag 'logo.png', class:'logo' %>
    </div>
    <p class="repipi-content-text">
      Repipiとはピピッと押すだけで、あなたの手料理を世界中に共有ができる料理専用のSNSです。<br>
      また投稿者に直接アドバイスを聞けるチャット機能やレビュー機能もございますので<br>料理初心者にも優しいレシピサイトとなっております。<br>
      いつもより質も良い日々を送れるように応援いたします。
    </p>
    <div class="repipi-human">
      <%= image_tag '095400.jpg',  class:"logo-image" %>
      <%= image_tag '085752.jpg',  class:"logo-image" %>
      <%= image_tag '557630.jpg',  class:"logo-image" %>
    </div>
  </div>
  <div class="new_recipeindex">
    <div class="new_recipe_content">
      <ul class="bxslider">
        <% @recipes_all.each do |recipe| %>
        <li>
          <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.recipe_images[0].recipe_image.to_s, class:"recipe_showimage" %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>