<div class="main-top">
  <div class="main-visual">
    <div class="main-visual-content">
      <div class="main-visual-name">RePiPi</div>
      <div class="main-visual-text">mnbhnbvfghjmn</div>
    </div>
  </div>
  <div id="repipi">
    <div class="repipi-content">
      <div class="recipe-content-name">testRePiPiとは？</div>
    </div>
    <div class="logo-image-1">
      <%= image_tag 'logo.png', class:'logo' %>
    </div>
    <div class="repipi-content-text">
      Repipiとはピピッと押すだけで、あなたの手料理を世界中に共有ができる料理専用のSNSです。<br>
      また投稿者に直接アドバイスを聞けるチャット機能やレビュー機能もございますので<br>料理初心者にも優しいレシピサイトとなっております。<br>
      いつもより質も良い日々を送れるように応援いたします。
    </div>
    <div class="repipi-human">
      <%= image_tag '095400.jpg',  class:"logo-image" %>
      <%= image_tag '085752.jpg',  class:"logo-image" %>
      <%= image_tag '557630.jpg',  class:"logo-image" %>
    </div>
  </div>
  <div class="new_recipeindex">
    <div class="new_recipe_content">
      <ul class="bxslider">
        <% @recipes_all.each do |recipe| %>
        <li>
          <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.recipe_images[0].recipe_image.to_s, class:"recipe_showimage" %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="profile">
    <div class="profile-content clearfix">
      <div class="content-name-prof">Profile</div>
      <hr>
      </hr>
      <div class="content-text-prof">
        料理をどこから初めていいか分からなかった過去の自分に送るサイトです。<br>
        今となっては便利なアプリがあふれているので、類似するサイトはありますが<br>
        当時、このようなサイトがあればいいなと思っていたので、形にしてみました。
      </div>
      <div class="pro-image">
        <%= image_tag 'myprof.png',  class:"logo-image-prof gray" %>
      </div>
      <div class="profile-text">
        <strong>My Favorite</strong>
        <p>
          初めまして♪私の名前はtosswiといいます。<br>
          このRepipiは私の処女作に当たるサイトとなっております。<br>
          人の役に立つ生き方をするをモットーにして生きており<br>
          尊敬する人の下で働く、自分を必要としてくれているところで<br>
          働くこと自分の人生をより楽しくすると思っております。<br>
          その夢を叶える手段としてエンジニアになることを決意しました。
        </p>
        <strong>Engineer Skill</strong>
        <p>
          HTML/CSS/JavaScript/JQuery/Ruby
        </p>
        <div class="prof_link">
          <a href="https://www.instagram.com/tosswi3437/?hl=ja">
            <i class="fab fa-instagram-square fa-3x"></i>
          </a>
          <a href="https://www.facebook.com/toshiya.takahashi.503">
            <i class="fab fa-facebook-square fa-3x"></i>
          </a>
          <a href="https://twitter.com/amazaracity">
            <i class="fab fa-twitter-square fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>