<% visitor_user = User.find(notification.visitor_id) %>



<%= link_to user_path(visitor_user) do %>
<strong>
  <%= visitor_user.name %>
  <% end %>さんが</strong>


<% case notification.action %>
<% when 'follow' then %>
<%= "あなたをフォローしました" %><br>
<% when 'bookmark' then %>
<%=link_to 'あなたの投稿', notification.recipe, style: "font-weight: bold;" %>
<%="にいいねしました" %><br>
<% when 'recipe_review' then %>
<% if notification.recipe.user_id == visitor_user.id %>
<%= link_to "あなたの投稿", notification.recipe, style: "font-weight: bold;" %>を評価しました。<br>
<% else %>

<%= link_to recipe_path(notification.recipe) do %>
<strong><%=notification.recipe.user.name%>
  さんの投稿 <% end %> </strong>
にコメントしました。<br>

<%#link付コメント%>
<p class="text-muted.mb-0">
  <%= RecipeReview.find_by(id: notification.recipe_review_id)&.recipe_review%>
</p>

<% end %>


<div class="small.text-muted.text-right">
  <%= notification.created_at.strftime('%Y年%m月%d日 %H時%M分に').upcase %>
</div>
<% end %>