<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= form_for @category, url:admins_category_path(@category.id) do |f| %>
      <%= render 'layouts/error', model:@category %>
      <div class="field row">
        <%= f.label :カテゴリー %>
        <%= f.text_field :name %>
        <%= f.submit "追加", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>