      <div class="container">
          <div class="row">
              <div class="col-xs-2">
                  <%= render 'recipes/search', genre: @genres,category: @categories %>
                  <tr><%= attachment_image_tag @user, :image, size: '100x100',format: "jpeg", fallback: "no_image.jpg" %>
                  </tr>
              </div>
              <div class="col-xs-10">
                  <%= @user.name %>
                  <%= @user.nickname %>
                  <%= @user.sex %>
                  <%= @user.allergy %>
                  <p><%= @user.nickname %>が投稿したメニュー</p>
                  <% @recipes.each do |f| %>
                  <%= link_to f.name ,recipe_path(f.id) %>
                  <% end %>
              </div>
              <table>
                  <thead>
                      <tr>
                          <th>名前</th>
                          <th colspan="1"></th>
                      </tr>
                  </thead>
                  <tbody>
              </table>
          </div>
      </div>