<div class="container">
  <h4>参加者</h4>
  <% @entries.each do |entry| %>
  <h5><strong><a href="/users/<%= entry.user.id %>"><%= entry.user.email%>さん</a></strong></h5>
  <% end %>
  <hr>
  <% if @messages.present? %>
  <table>
    <thead>
      <tr>
        <th>説明画像</th>
        <th>投稿者</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
      <tr>
        <td><%= attachment_image_tag message, :image, size: '100x100',format: "jpeg" %></td>
        <td width=20%><%= message.user.nickname%>さん</td>
        <td width=80%><strong><%= message.content %></strong></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
  <% end %>
  <%= form_for @message do |f| %>
  <%= f.label :image, "画像を選択"%>
  <%= f.attachment_field :image, class: "image_form" %><br>
  <div class="field content">
    <%= f.text_area :content, :placeholder => "メッセージを入力して下さい" ,class: "form-control" %>
  </div>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "送信" %>
  <% end %>
  <%= link_to "ユーザー一覧に戻る", users_path %>
</div>