<!DOCTYPE html>
<html>

<head>
  <%=favicon_link_tag('favicon.ico') %>
  <title>Repipi</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/c8c5fed458.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="wrapper">
    <% if admin_signed_in? %>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar navbar-light">
        <div class="navbar-expand-lg navbar-collapse">
          <ul class="navbar-nav">
            <li class="fab fa-linode"><%= link_to ' カテゴリー登録', admins_categories_path %></li>
            <li class="fas fa-users"><%= link_to ' 会員一覧', admins_users_path %></li>
            <li class="far fa-dot-circle"><%= link_to ' ジャンル登録', admins_genres_path %></li>
            <li class="fas fa-sign-out-alt"><a rel=" nofollow" data-method="delete" href="/admins/sign_out">ログアウト</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <% elsif user_signed_in? %>aaa
    <header>
      <li><%= image_tag 'logo.png', class:'hum-logo' %></li>
      <nav class="navbar navbar-light">
        <div class="navbar-expand-lg navbar-collapse">
          <dl class="searchbox">
            <%= search_form_for @search, url: recipes_path do |f| %>
            <dt><%= f.text_field :name_cont ,placeholder: 'レシピ名を検索' %></dt>
            <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
            <% end %>
          </dl>
          <div class="mypage">
            <%= link_to user_path(current_user) do%>
            <li class="fas fa-user-circle fa-2x"></li>
            <% end %>
          </div>
          <div class="flash">
            <% flash.each do |message_type, message| %>
            <%= message %>
            <% end %>
          </div>
        </div>
        <div class="hamburger" id="open_nav">
          <%= image_tag 'hamburger.png',class:"hamburger-image" %>
        </div>
      </nav>
    </header>
    <% else %>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar navbar-light">
        <div class="navbar-expand-lg navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="fas fa-desktop"><%= link_to'TOP',root_path, class:"btn btn-default" %></li>
            <li class="fas fa-plus"><%= link_to'新規登録',new_user_registration_path, class:"btn btn-default" %></li>
            <li class=" fas fa-sign-in-alt"><a href="/users/sign_in" , class="btn btn-default">ログイン</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <% end %>
    <%= yield %>
  </div>
  </div>
  <footer>
    <div class="footer-text">
      2020@Repipi
    </div>
  </footer>
  <nav id="nav">
    <%= image_tag 'logo.png', class:'hum-logo1' %>
    <ul>
      <li class="fas fa-desktop"><%= link_to 'トップ', root_path, class: "btn btn-default" %></li>
      <li class="far fa-bell"> <%= link_to '通知',notifications_path, class: "btn btn-default" %></li>
      <li class="fas fa-cookie-bite"><%= link_to ' レシピ一覧', recipes_path, class: "btn btn-default" %></li>
      <li class="fas fa-bookmark"><%= link_to 'ブックマーク', bookmarks_recipes_path, class: "btn btn-default" %></li>
      <li class="fas fa-cookie"><%= link_to 'レシピ投稿', new_recipe_path, class: "btn btn-default" %></li>
      <li class="fas fa-users"><%= link_to 'ユーザー一覧', users_path, class: "btn btn-default" %></li>
      <li class="fas fa-sms"><%= link_to ' チャット', rooms_path, class: "btn btn-default" %></li>
      <li class="fas fa-sign-out-alt"><a rel="nofollow" data-method="delete" href="/users/sign_out" ,
          class="btn btn-default">ログアウト</a></li>
    </ul>
    </div>
  </nav>
</body>
<script>
  $(document).ready(function () {
    $('#open_nav').on('click', function () {
      $('#wrapper, #nav').toggleClass('show');
    });
  });
</script>

</html>